<h1>
  {{title}}
</h1>
<div *ngFor="let voto of votos">
  <input-component voto="{{voto.title}}" (addVoto)="addVoto($event)"></input-component>
</div>
<h3 gigant hightlight>{{votacion}}</h3>

<h4>Conversor</h4>

<div>Cantidad: <input [(ngModel)]="cantidad"></div>
<div>1 dolar es: <input [(ngModel)]="factor"></div>

<p>oh es: {{ cantidad | conversorPipe:factor }}</p>

<ul>
  <li *ngFor="let i of tickets" gigant>
    <b>Ticket N: {{i.id}}</b> - {{i.titulo}}
    <span hightlight>[ {{i.estado}} ]</span>
  </li>
</ul>

<h2>Form Basico</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div>
    <label for="nameInput">Nombre</label>
    <input type="text"
           id="nameInput"
           placeholder="Nombre"
           name="nombre" ngModel>
  </div>
  <div>
    <label for="apellidoInput">Apellido</label>
    <input type="text"
           id="apellidoInput"
           placeholder="Apellido"
           name="apellido" ngModel>
  </div>
  <div>
    <label for="twitterInput">Twitter</label>
    <input type="text"
           id="twitterInput"
           placeholder="Twitter"
           name="twitter" ngModel>
  </div>
  <button type="submit">Submit</button>
</form>